// Package proto2user provides dummy uses of proto2 for testing resolving to proto from go.
package proto2user

import pb "%PROTO_PACKAGE_NAME%"

// EXPECT-NEXT: %PROTO_FILE_NAME% / M1
func use(m pb. /* caretAfterThis */ M1) {
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.single_primitive
  m. /* caretAfterThis */ GetSinglePrimitive()
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.single_primitive
  m. /* caretAfterThis */ SinglePrimitive = nil
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.repeated_primitive
  m. /* caretAfterThis */ GetRepeatedPrimitive()
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.repeated_primitive
  m. /* caretAfterThis */ RepeatedPrimitive = nil
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.single_string
  m. /* caretAfterThis */ GetSingleString()
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.single_string
  m. /* caretAfterThis */ SingleString = nil
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.repeated_string
  m. /* caretAfterThis */ GetRepeatedString()
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.repeated_string
  m. /* caretAfterThis */ RepeatedString = nil
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.single_bytes
  m. /* caretAfterThis */ GetSingleBytes()
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.single_bytes
  m. /* caretAfterThis */ SingleBytes = nil
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.repeated_bytes
  m. /* caretAfterThis */ GetRepeatedBytes()
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.repeated_bytes
  m. /* caretAfterThis */ RepeatedBytes = nil
  // EXPECT-NEXT: %PROTO_FILE_NAME% / Shapes
  var e pb. /* caretAfterThis */ Shapes
  // EXPECT-NEXT: %PROTO_FILE_NAME% / UNKNOWN
  e = pb. /* caretAfterThis */ Shapes_UNKNOWN
  // EXPECT-NEXT: %PROTO_FILE_NAME% / TRIANGLE
  e = pb. /* caretAfterThis */ Shapes_TRIANGLE
  // EXPECT-NEXT: %PROTO_FILE_NAME% / SQUARE
  e = pb. /* caretAfterThis */ Shapes_SQUARE
  // EXPECT-NEXT: %PROTO_FILE_NAME% / CIRCLE
  e = pb. /* caretAfterThis */ Shapes_CIRCLE
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.single_enum
  m. /* caretAfterThis */ GetSingleEnum()
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.single_enum
  m. /* caretAfterThis */ SingleEnum = &e
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.repeated_enum
  m. /* caretAfterThis */ GetRepeatedEnum()
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.repeated_enum
  m. /* caretAfterThis */ RepeatedEnum = nil
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.single_bool
  m. /* caretAfterThis */ GetSingleBool()
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.single_bool
  m. /* caretAfterThis */ SingleBool = nil
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.repeated_bool
  m. /* caretAfterThis */ GetRepeatedBool()
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.repeated_bool
  m. /* caretAfterThis */ RepeatedBool = nil
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.NestedM1
  var nm pb. /* caretAfterThis */ M1_NestedM1
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.NestedM1
  nm = pb. /* caretAfterThis */ M1_NestedM1{}
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.NestedM1.single_primitive
  nm. /* caretAfterThis */ GetSinglePrimitive()
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.NestedM1.single_primitive
  nm. /* caretAfterThis */ SinglePrimitive = nil
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.NestedM1.repeated_primitive
  nm. /* caretAfterThis */ GetRepeatedPrimitive()
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.NestedM1.repeated_primitive
  nm. /* caretAfterThis */ RepeatedPrimitive = nil
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.NestedM1.NestedEnum
  var nmne pb. /* caretAfterThis */ M1_NestedM1_NestedEnum
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.NestedM1.UNKNOWN
  nmne = pb. /* caretAfterThis */ M1_NestedM1_UNKNOWN
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.NestedM1.KNOWN_KNOWNS
  nmne = pb. /* caretAfterThis */ M1_NestedM1_KNOWN_KNOWNS
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.NestedM1.KNOWN_UNKNOWNS
  nmne = pb. /* caretAfterThis */ M1_NestedM1_KNOWN_UNKNOWNS
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.NestedM1.UNKNOWN_UNKNOWNS
  nmne = pb. /* caretAfterThis */ M1_NestedM1_UNKNOWN_UNKNOWNS
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.NestedM1.single_enum
  nm. /* caretAfterThis */ GetSingleEnum()
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.NestedM1.single_enum
  nm. /* caretAfterThis */ SingleEnum = &nmne
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.single_message
  m. /* caretAfterThis */ GetSingleMessage()
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.single_message
  m. /* caretAfterThis */ SingleMessage = nil
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.repeated_message
  m. /* caretAfterThis */ GetRepeatedMessage()
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.repeated_message
  m. /* caretAfterThis */ RepeatedMessage = nil
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.test_map
  m. /* caretAfterThis */ GetTestMap()
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.test_map
  m. /* caretAfterThis */ TestMap = nil
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.test_oneof
  switch m. /* caretAfterThis */ GetTestOneof().(type) {
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.int_choice
  case *pb. /* caretAfterThis */ M1_IntChoice:
    // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.int_choice
    m. /* caretAfterThis */ GetIntChoice()
    // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.string_choice
  case *pb. /* caretAfterThis */ M1_StringChoice:
    // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.string_choice
    m. /* caretAfterThis */ GetStringChoice()
  }
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.test_oneof
  m. /* caretAfterThis */ TestOneof = nil
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.NestedEnum
  var ne pb. /* caretAfterThis */ M1_NestedEnum
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.UNKNOWN
  ne = pb. /* caretAfterThis */ M1_UNKNOWN
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.RED
  ne = pb. /* caretAfterThis */ M1_RED
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.GREEN
  ne = pb. /* caretAfterThis */ M1_GREEN
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.BLUE
  ne = pb. /* caretAfterThis */ M1_BLUE
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.single_enum2
  m. /* caretAfterThis */ GetSingleEnum2()
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.single_enum2
  m. /* caretAfterThis */ SingleEnum2 = &ne
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.single_string_piece
  m. /* caretAfterThis */ GetSingleStringPiece()
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.single_string_piece
  m. /* caretAfterThis */ SingleStringPiece = nil
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.repeated_string_piece
  m. /* caretAfterThis */ GetRepeatedStringPiece()
  // EXPECT-NEXT: %PROTO_FILE_NAME% / M1.repeated_string_piece
  m. /* caretAfterThis */ RepeatedStringPiece = nil
}
